.globe-container
{
margin:30px auto;
width:120px;
height:120px;
border:1px solid transparent;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
overflow: hidden;
animation: rotate infinite 45s linear;
-moz-box-shadow: 0px 5px 15px #888;
-webkit-box-shadow: 0px 5px 15px #888;
box-shadow: 0px 0px 10px #888;
}

@keyframes rotate{
    0% {
     background-position:0% -1px;
    }
    100% {
        background-position:100% -1px;
     }
}
